/* Viewer structural components */
.viewer { 
  height: inherit;
  padding-right: 10px; /* there probably should be a page renderer div, and this should go in it. */
  position: relative;
  border: 1px dotted red;
}

.footer {
  position:absolute;
  bottom:-3px;
  width: 100%;
  height:50px;
  background-color:rgba(50,0,0,0.4);
  color:#fff;
}

/* Page Renderer components */

.backdrop {
  height: inherit;
  width: inherit;
  position: relative;
  overflow: scroll;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

.backdrop.zoom-50  { width: 50%; }
.backdrop.zoom-66  { width: 66%; }
.backdrop.zoom-75  { width: 75%; }
.backdrop.zoom-100 { width: 100%; }
.backdrop.zoom-125 { width: 125%; }
.backdrop.zoom-133 { width: 133%; }
.backdrop.zoom-150 { width: 150%; }

.pages {
  max-height: 3000px;
}

  .pages .page { 
    width: 100%; 
    position: absolute;
  }

  .pages .page_number { float: left; }

  .pages .matte {
    border: black 1px solid;
    margin-left: 45px;
  }

  .pages .matte img { 
    background: center url('../images/spinner_circle.gif') no-repeat;
    pointer-events: none;
  }

.sidebar { 
  height: 100%; 
  width: 10px; 
  position: absolute;
  top: 0;
  right: 0;
}

  .sidebar .page_mark {
    position: absolute;
    border-top: black solid 1px;
    width: 100%;
  }