.viewer { 
  height: inherit;
  position: relative;
  border: 1px dotted red;
}

.backdrop {
  width: inherit;
  height: inherit;
  position: relative;
  overflow: scroll;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

.backdrop.zoom-50  { width: 50%; }
.backdrop.zoom-66  { width: 66%; }
.backdrop.zoom-75  { width: 75%; }
.backdrop.zoom-100 { width: 100%; }
.backdrop.zoom-125 { width: 125%; }
.backdrop.zoom-133 { width: 133%; }
.backdrop.zoom-150 { width: 150%; }

.pages {
  max-height: 3000px;
}

.pages .page { 
  width: 100%; 
  position: absolute;
}

.pages .page_number { float: left; }

.pages .matte {
  border: black 1px solid;
  margin-left: 45px;
}

.pages .matte img { 
  background: center url('../images/spinner_circle.gif') no-repeat;
  pointer-events: none;
}

.footer {
  position:absolute;
  bottom:-3px;
  width: 100%;
  height:50px;
  background-color:rgba(50,0,0,0.4);
  color:#fff;
}
