* {
  margin: 0;
  padding: 0; }

#viewer-container { height: 800px; width: 800px; }

#viewer { height: inherit; }

.page_matte {
  width: inherit;
  height: inherit;
  position:relative;
}

.pages {
  width: inherit;
  height: inherit;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  max-height: 3000px;
}

.pages .page_number { float: left; }

.pages .page {
  border: black 1px solid;
  margin:10px;
  margin-left: 45px;
}

.pages .page img { 
  background: center url('../images/spinner_circle.gif') no-repeat;
}

.footer {
  position:absolute;
  bottom:-3px;
  width: 100%;
  height:50px;
  background-color:rgba(50,0,0,0.4);
  color:#fff;
}
