#viewer-container { height: 1000px; width: 800px; }

#viewer { height: inherit; }

.page_matte {
  width: inherit;
  height: inherit;
  position:relative;
}

.pages {
  width: inherit;
  height: inherit;
  overflow:auto;
  max-height: 3000px;
}

.pages .page_number { float: left; }

.pages .page {
  border: black 1px solid;
  margin:10px;
  margin-left: 45px;
}

.footer {
  position:absolute;
  bottom:-3px;
  width: 100%;
  height:50px;
  background-color:rgba(50,0,0,0.4);
  color:#fff;
}
