/* Reset */

.viewer * {
  box-sizing: content-box;
  color:#000;
  font-size:10px;
  font-family:Arial,Helvetica,sans-serif;
}

/* Viewer structural components */
.viewer { 
  height: inherit;
  padding-right: 10px; /* there probably should be a page renderer div, and this should go in it. */
  position: relative;
  border: 1px dotted red;
}

.footer {
  position:absolute;
  bottom:-3px;
  width: 100%;
  height:50px;
  background-color:rgba(50,0,0,0.4);
  color:#fff;
}

/* Page Renderer components */

.renderer {
  height: inherit;
  width: inherit;
  position: relative;
  overflow: scroll;
}

.backdrop {
  max-height: inherit;
  height: inherit;
  width: inherit;
  position: relative;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

.backdrop.zoom-50  { width: 50%; }
.backdrop.zoom-66  { width: 66%; }
.backdrop.zoom-75  { width: 75%; }
.backdrop.zoom-100 { width: 100%; }
.backdrop.zoom-125 { width: 125%; }
.backdrop.zoom-133 { width: 133%; }
.backdrop.zoom-150 { width: 150%; }

.pages {
  height: 0;
  position: relative;
  width: 100%;
}

  .pages .page { 
    height: 0;
    position: absolute;
    width: 100%;
  }

  .pages .page_number { 
    float: left; 
    display: none;
  }

  .pages .matte {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
  }

  .pages .content {
    background: white;
    border: 0.1em solid #CCC;
    bottom: -0.1em;
    left: -0.1em;
    position: absolute;
    right: -0.1em;
    top: -0.1em;
    -webkit-box-shadow: 4px 4px 2px rgba(50, 50, 50, 0.07);
    -moz-box-shadow: 4px 4px 2px rgba(50, 50, 50, 0.07);
    box-shadow: 4px 4px 2px rgba(50, 50, 50, 0.07);
  }

  .pages .matte img { 
    background: center url('../images/spinner_circle.gif') no-repeat;
    pointer-events: none;
    width: 100%;
  }

.sidebar { 
  height: 100%; 
  width: 10px; 
  position: absolute;
  top: 0;
  right: 0;
}

  .sidebar .viewport {
    position: absolute;
    /*border: black solid 1px;*/
    width: 8px;
  }
  
  .sidebar .page_mark {
    display: none;
  }
  
  .sidebar .page_mark .mark_text {
    position: absolute;
    right: 8px;
    width: 50px;
    padding: 5px 10px;
    background-color: white;
    border: black 1px solid;
    border-radius: 5px;
  }