/* Reset */

.viewer * {
  box-sizing: content-box;
  color:#000;
  font-size:10px;
  font-family:Arial,Helvetica,sans-serif;
}

/* Viewer structural components */
.viewer { 
  height: inherit;
  position: relative;
  border: 1px dotted red;
}

.footer {
  position:absolute;
  bottom:0;
  width: 97%;
  height:50px;
  color:#fff;
}

  .footer .up {
    height: 100%;
    width: 33%;
    background-color:rgba(50,0,0,0.4);
    float: left;
  }
  
  .footer .down {
    height: 100%;
    width: 33%;
    background-color:rgba(0,50,0,0.4);
    float: left;
  }
  
  .footer .menu {
    height: 100%;
    width: 34%;
    background-color:rgba(0,0,50,0.4);
    float: left;
  }

/* Page Renderer components */

.renderer {
  height: 100%;
  width: inherit;
  position: relative;
}

.backdrop {
  width:97%;
  max-height: inherit;
  height: inherit;
  position: relative;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.pages { }

  .pages .page { 
    width: 100%;
    position: absolute;
  }

  .pages .page_number { float: left; }

  .pages .matte {
    border: black 1px solid;
    margin-left: 45px;
  }

  .pages .matte img { 
    background: center url('../images/spinner_circle.gif') no-repeat;
    pointer-events: none;
  }

.overview {
  width: 3%; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 150px;
  height: 100%;
}

  .overview .viewport {
    position: absolute;
    /*border: black solid 1px;*/
    width: 8px;
  }
  
  .overview .page_mark {
    /*display: none;*/
  }
  
  .overview .page_mark .mark_text {
    position: absolute;
    right: 8px;
    width: 50px;
    padding: 5px 10px;
    background-color: white;
    border: black 1px solid;
    border-radius: 5px;
  }
  
  .overview .page.even {
    background-color: #ccc;
  }